*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ШАПКА */

.table-bigger {
  margin: 100px auto;
  border: 20px solid #3a4965;
  /* width: 1200px; */
  border-collapse: collapse;
}

.left-top {
  padding: 50px 35.2px 50px 35.3px;
  width: 315px;
  height: 160px;
  background-color: #fafafa;
}
.choose {
  margin: 0;
  width: 244px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
}

.pricing {
  font-size: 30px;
  color: #484848;
}

.header-top-green {
  height: 75px;
  padding: 28px 61px 18px 61px;
  background-color: #89c331;
}

.standard {
  width: 162px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top-pink {
  padding: 24px 54.2px 21px 54.2px;
  background-color: #f04a56;
}

.ultimate {
  width: 175px;
  margin: 0;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top-blue {
  padding: 27px 71.5px 18px 71.5px;
  background-color: #20807c;
}

.premium {
  width: 141px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-bottom-under {
  padding: 26px 150px 13px 33px;
  background-color: #fafafa;
  position: relative;
  border-left: 2px solid #cecccc;
}

.standart-price {
  /* width: 100px; */
  /* height: 50px; */
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #484848;
}

.standart-price-index {
  /* display: none; */
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;

  position: absolute;
  left: 123px;
  top: 17px;
}

.per-month {
  margin: 0;
  /* display: none; */
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-transform: uppercase;
  color: #484848;

  position: absolute;
  right: 53px;
  bottom: 30px;
}

/* ТЕЛО */

.body-raws {
  height: 72px;
}

.body-raws:nth-child(odd) {
  background-color: #f2f2f2;
}

.body-raws:nth-child(even) {
  background-color: #e3e3e3;
}

.option {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.option-decription {
  margin: 0 0 0 4px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #484848;
}

.option-explaination {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #484848;
  border-left: 2px solid #cecccc;
}

/* ПОДВАЛ */

.foot-row {
  height: 110px;
}

.foot-contuct-us {
  background-color: #dddddd;
  position: relative;
}

.foot-buy-now-green {
  background-color: #eeeeee;
}

.foot-buy-now-pink {
  background-color: #f4f4f4;
}

.foot-buy-now-blue {
  background-color: #eeeeee;
}

.buttomn {
  margin-left: auto;
  margin-right: auto;
  width: 195px;
  height: 54px;
  background-color: #484848;
  border-radius: 5px;
  position: relative;
}

.buttomn::before {
  content: "";
  width: 195px;
  height: 9px;
  border-color: #b92020;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
