a {
  text-decoration: none;
}

/* ХЕДЕР */

.page-body {
  background-image: url(../images/background\ 1.png);
  background-size: 100%;
}

.page-header {
  display: flex;
  width: 1028px;
  height: 61px;
  margin: 46px auto 17px auto;
  justify-content: space-between;
}

.left-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.castle-link {
  margin-top: 6px;
}

.castle-link-hover {
  margin-top: 6px;
  display: none;
}

.Milan {
  margin: 5px 0 0 8px;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.holidays {
  margin: 4px 0 0 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.left-header:hover .castle-link {
  display: none;
}

.left-header:hover .castle-link-hover {
  display: block;
}

.left-header:hover .Milan {
  color: #f26522;
}

.left-header:hover .holidays {
  color: #f26522;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail {
  height: 21px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.mail:hover {
  color: #f26522;
}

.phone {
  margin-top: 19px;
  height: 21px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.phone:hover {
  color: #f26522;
}

/* МЭЙН */

.options {
  display: grid;
  margin: 22px auto 50px auto;
  width: 1020px;
  height: 562px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 261px;
  grid-row-gap: 40px;
  grid-column-gap: 60px;
}

.item {
  width: 300px;
  height: 261px;
  position: relative;
}

.photo-link {
  display: block;
}

.photo {
  display: block;
  width: 300px;
  height: 220px;
  border: 2px solid white;
  border-image: linear-gradient(to right top, white, black, white);
  border-image-slice: 1;
}

.description {
  display: block;
  width: 160px;
  margin: 20px auto 0 auto;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

/* .hiden {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 55px;
  padding: 7px 16px 12px 16px;
  background-color: #f26522;
  position: absolute;
  left: 0;
  top: 100%;
  transition-duration: 0.5s;
} */

.hiden {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 55px;
  padding: 7px 16px 12px 16px;
  background-color: #f26522;
  position: absolute;
  left: 0;
  top: 220px;
  transition-duration: 0.3s;
}

.from {
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.price {
  margin: 12px 0 0 0;
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
}

.view {
  margin: 22px 0 0 135px;
  width: 100px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.view::after {
  content: ">";
  margin-left: 16px;
  color: #ffffff;
}

.item:hover .hiden {
  /* display: flex; */
  opacity: 1;
  top: 165px;
}

.item:hover .description {
  color: #f26522;
  transition-duration: 0.5s;
}

/* ФУТЕР */

.copyright {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
