*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page-body {
  padding: 0;
  width: 1900px;
  margin: auto;
}

.page-header {
  width: 1900px;
  height: 70px;
  background-color: #313131;

  display: flex;
}

.logo {
  padding: 22px 27px 21px 27px;
  width: 81px;
  height: 70px;
}

.logo-image {
  width: 27px;
  height: 27px;
}

.slogan {
  width: 124px;
  height: 26px;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}

.header-menu {
  display: flex;
  width: 722px;
  height: 20px;
  padding: 3px 18px 1px 0;
  margin: 25px 431px 25px 474px;
  justify-content: space-between;
  list-style: none;
}

.menu-links {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-links:hover {
  color: #14b9d5;
}

.search {
  width: 68px;
  height: 70px;
  background-color: #000000;
  padding: 27px 25px 26px 26px;
}

/* ОКОНЧАНИЕ ХЕДЕРА */

/* НАЧАЛО МЕЙНА */

.page-main {
  position: relative;
}

/* НАЧАЛО ПЕРВОЙ СЕКЦИИ */

.section-one-header {
  width: 1900px;
  height: 369px;
  padding: 163px 605px 74px 658px;
  background-image: url(../img/header-bg.jpeg);
  background-position: bottom;
  background-attachment: fixed;
  /* box-shadow: inset 0 0 150px 150px rgba(0, 0, 0, 0.5);
  transition: 0.9s; */
}

.section-one-header::after {
  content: "";
  position: absolute;
  width: 1900px;
  height: 369px;
  background: rgb(78, 75, 75);
  opacity: 0.5;
  top: 0;
  left: 0;
}

.section-one-header-slogan {
  margin-top: 0;
  margin-bottom: 44px;
  width: 670px;
  height: 32px;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
}

.section-one-header-item {
  width: 360px;
  height: 55px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.section-one-header-links {
  width: 170px;
  height: 55px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 16px 19px 17px 19px;
  border-radius: 10px;
}

.section-one-header-links:first-child {
  background-color: #89ca62;
}

.section-one-header-links:last-child {
  background-color: #14b9d5;
  margin-left: 20px;
}

.most-popular-posts {
  width: 1900px;
  height: 1030px;
  padding-top: 49px;
  background-color: #f2f2f2;
}

.most-popular-posts-slogun {
  width: 330px;
  height: 33px;
  margin: 0 auto 52px auto;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #18b4cf;
}

.hotels {
  width: 1170px;
  height: 824px;
  margin-left: 370px;
  margin-right: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotels-items {
  background-color: #ffffff;
  width: 370px;
}

.hotels-items:nth-child(odd) {
  margin-bottom: 32px;
}

.hotels-items:nth-child(-n + 4) {
  margin-right: 25px;
}

.hotels-img {
  display: block;
}

.hotels-description {
  height: 60px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  font-weight: bold;
}

/* КОНЕЦ ПЕРВОЙ СЕКЦИИ */

/* НАЧАЛО ВТОРОЙ СЕКЦИИ */
.section-two-header {
  width: 1900px;
  height: 588px;
  padding-top: 106px;
  background-image: url(../img/parallax-bg.jpeg);
  background-position: top;
  background-attachment: fixed;
}

.section-two-header-title {
  width: 496px;
  height: 44px;
  margin: 0 702px 87px 702px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.line {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  margin: 0 auto 0 auto;
  border: none;
}

.grid-icons {
  width: 881px;
  margin: 100px auto 185px auto;

  display: grid;
  align-items: center;
  grid-template-rows: 63px;
  grid-template-columns: 207px 135px 232px 141px;
  grid-gap: 52px;
}

.top-rated {
  padding-top: 49px;
}

.top-rated-title {
  width: 177px;
  height: 33px;
  margin: 0 auto 52px auto;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.top-rated-items {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 190px;
  grid-template-columns: repeat(7, 271px);
}

.hot-news {
  padding-top: 48px;
}

.hot-news-title {
  width: 170px;
  height: 33px;
  margin: 0 auto 51px auto;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.hot-news-section-one {
  display: grid;
  grid-template-columns: 856px 277px;
  grid-template-rows: 259px;
  column-gap: 35px;
  margin-left: 372px;
  margin-right: 361px;
  margin-bottom: 45px;
}

.hot-news-section-one-item-one {
  display: grid;
  grid-template-columns: 483px 373px;
  grid-template-rows: 259px;
  background-color: rgba(0, 0, 0, 0.03);
}

.hot-news-section-one-item-one-title {
  margin: 41px 24px 14.5px 31px;
  height: 23px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: right;
  color: #353a3d;
}

.hot-news-section-one-item-one-descritpion {
  margin: 0 24px 40.5px 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  align-items: center;
  text-align: right;
  color: #5b6469;
}

.hot-news-section-one-item-two-image {
  display: block;
}

.hot-news-section-one-item-two {
  background-color: rgba(0, 0, 0, 0.03);
}

.hot-news-section-one-item-two-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  margin: 14px 27px 11px 27px;
}

.hot-news-section-two {
  display: grid;
  grid-template-columns: 554px 554px;
  grid-template-rows: 418px 418px;
  grid-column-gap: 60px;
  grid-row-gap: 45px;
  margin-left: 372px;
  margin-right: 361px;
  margin-bottom: 45px;
}

.hot-news-section-two-item {
  background-color: rgba(0, 0, 0, 0.03);
}

.hot-news-section-two-item-image {
  display: block;
}

.hot-news-section-two-item-one-title,
.hot-news-section-two-item-two-title,
.hot-news-section-two-item-three-title,
.hot-news-section-two-item-four-title {
  margin: 14px 27px 15px 180px;
  height: 23px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: right;
  color: #353a3d;
}

.hot-news-section-two-item-one-description,
.hot-news-section-two-item-two-description,
.hot-news-section-two-item-three-description,
.hot-news-section-two-item-four-description {
  margin: 0 14px 3px 13px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  align-items: center;
  text-align: right;
  color: #5b6469;
}

.hot-news-section-three {
  display: grid;
  grid-template-columns: 277px 856px;
  grid-template-rows: 259px;
  column-gap: 35px;
  margin-left: 372px;
  margin-right: 361px;
  margin-bottom: 77px;
}

.hot-news-section-three-item-one {
  background-color: rgba(0, 0, 0, 0.03);
}

.hot-news-section-three-item-one-image {
  display: block;
}

.hot-news-section-three-item-one-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  margin: 5px 26px 20px 27px;
}

.hot-news-section-three-item-two {
  display: grid;
  grid-template-columns: 483px 373px;
  grid-template-rows: 259px;
  background-color: rgba(0, 0, 0, 0.03);
}

.hot-news-section-three-item-two-title {
  margin: 41px 24px 14.5px 0;
  height: 23px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: right;
  color: #353a3d;
}

.hot-news-section-three-item-two-descritpion {
  margin: 0 24px 40.5px 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  align-items: center;
  text-align: right;
  color: #5b6469;
}

/* КОНЕЦ ВТОРОЙ СЕКЦИИ */

/* КОНЕЦ МЕЙНА */

/* НАЧАЛО ФУТЕРА */

.page-footer {
  display: flex;
  background-color: #000000;
  height: 80px;
}

.all-rights {
  width: 512px;
  margin: 29px 559px 30px 367px;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
}

.footer-link-image-one {
  width: 38px;
  height: 24px;
  margin: 29px 3px 27px 0;
}

.footer-link-image-two {
  width: 64px;
  height: 16px;
  margin: 29px 386px 35px 0;
}

/* КОНЕЦ ФУТЕРА */
