.page-body {
  background-image: url(../images/Фон\ 1.png);
  background-size: cover;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.icon {
  width: 23px;
  height: 23px;
  margin-right: 25px;
}

.welcome {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 26px;
  position: relative;
}

.welcome::before {
  content: "";
  display: inline-block;
  position: absolute;

  margin: 0;
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
}
