*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.page-header {
  padding: 25.5px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.header-menu-item + .header-menu-item {
  margin-left: 72px;
}

.header-menu-item-right {
  margin-left: 50px;
}

.header-menu-link {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ff0000;
}

.banner {
  width: 100%;
  height: 789px;
  display: flex;
  justify-content: center;
}

.information {
  padding-top: 48px;
  padding-left: 67.5px;
  padding-right: 67.5px;
  padding-bottom: 42px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
  justify-content: center;
  color: #373737;
}

.paragraph-one {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
}

.paragraph-two {
  margin-top: 0;
  margin-bottom: 66px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
}
.link {
  width: 100%;
  display: flex;
  justify-content: center;
}
.link-item {
  width: 191px;
  height: 51px;
  background-color: #ff0000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Montserrat;
  font-style: bold;
  font-size: 12px;
  line-height: 12px;
  line-height: 82%;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  padding-top: 40px;
  padding-left: 70%;
  padding-bottom: 29px;
}

.copyright-item {
  font-size: Montserrat;
  font-weight: bold;
  font-style: 16px;
  line-height: 20px;
  line-height: 100%;
  letter-spacing: 2.4px;
  color: #373737;
}
