*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.page-body {
  padding: 60px 100px 30px;
  width: 1480px;
  height: 1282px;
  margin: auto;
}

.page-header {
  width: 1283px;
  height: 189px;
}

.page-main {
  display: flex;
}

.link-logo {
  height: 80px;
  width: 300px;
  font-size: 80px;
  line-height: 94px;
  align-items: flex-end;
  color: #000000;

  display: flex;
}

.link-logo-blue {
  color: rgb(55, 204, 204);
}

.menu-list {
  list-style: none;
  display: flex;
  width: 1283px;
  height: 72px;
  margin: 38px 0 0;
  padding: 0;
  justify-content: center;
  background-color: #35444f;
}

.menu-item {
  border-left: 1px solid #fff;
  padding: 25px 30px 20px;
}

.menu-item:nth-child(2):hover {
  background-color: #222f3a;
}

.menu-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.aside-menu {
  margin-top: 50px;
  list-style: none;
  border: 1px solid black;
  width: 345px;
  height: 400px;

  display: inline-block;
}

.aside-list {
  padding: 25px 0 28px 45px;
}

.aside-link {
  height: 27px;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

.aside-list:nth-child(2):hover {
  background-color: #dbdbdb;
  padding-left: 80px;
}

.information {
  margin: 50px 0 54px 50px;
  width: 885px;
}

.image {
  width: 885px;
  height: 529px;
  border: 1px solid black;
}

.image-item {
  margin: 75px 268px 73px 297px;
  width: 320px;
  height: 381px;
}

.image-item:hover {
  margin: 55px 258px 73px 287px;
  width: 340px;
  height: 421px;
  transition: 0.2s;
}

.paragraph-one {
  margin-top: 37px;
  margin-bottom: 37px;
  width: 885px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.paragraph-two {
  margin-top: 0;
  margin-bottom: 0;
  width: 885px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.page-footer {
  width: 1280px;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
}

.footer-menu {
  margin: 0 0 0 40px;
  padding: 20px 0 20px 0;
  list-style: none;
  display: flex;
  width: 928px;
  height: 69px;
}

.footer-item {
  margin-right: 30px;
}

.footer-link {
  font-size: 28px;
  line-height: 28px;
  color: black;
}

.copyright {
  margin: 0 40px 0 82px;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 190px;
  height: 69px;
  text-align: end;

  font-size: 24px;
  line-height: 24px;
  color: black;
}
.hidden {
  margin: 10px 0 0 0;
  width: 150px;
  border: 1px solid rgb(62, 115, 214);
  visibility: hidden;
}

.footer-item:nth-child(2):hover .footer-link-blue {
  color: rgb(62, 115, 214);
}

.footer-item:nth-child(2):hover .hidden {
  visibility: visible;
}
